<div class="cart-container">
  <table class="product-table">
    <thead>
      <tr>
        <th></th>
        <th>PRODUTO</th>
        <th>QTDE</th>
        <th>SUBTOTAL</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img
            src="https://static.netshoes.com.br/produtos/tenis-nike-revolution-6-next-nature-feminino/04/2IC-4364-304/2IC-4364-304_zoom2.jpg?ts=1631634693&ims=326x"
            alt=""
          />
        </td>
        <td>
          <strong>
            Tênis Nike Revolution 6 Next Nature Feminino - Preto Grafite
          </strong>
          <span> R$ 239,99 </span>
        </td>
        <td>
          <div>
            <button type="button">
              <i
                class="fa fa-minus-circle"
                aria-hidden="true"
                style="color: #7159c1;zoom: 1.2;"
              ></i>
            </button>
            <input type="number" readOnly value="1" />
            <button type="button">
              <i
                class="fa fa-plus-circle"
                aria-hidden="true"
                style="color: #7159c1;zoom: 1.2;"
              ></i>
            </button>
          </div>
        </td>
        <td>
          <strong>R$ 1.920,23</strong>
        </td>
        <td>
          <button type="button">
            <i
              class="fa fa-trash"
              aria-hidden="true"
              style="color: #7159c1;zoom: 1.2;"
            ></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <footer>
    <button type="button">Finalizar Pedido</button>

    <div class="total">
      <span>TOTAL</span>
      <strong>R$ 1.923,66</strong>
    </div>
  </footer>
</div>
